.header {
  background-color: #5b51c6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.header__container {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0 100px 0px;
}

.headerList {
  display: flex;
  gap: 30px;
}

.headerListItem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
}

.headerDesc {
  margin-top: 10px;
}

.headerBtn {
  padding: 10px;
  border: 1px solid white;
  background-color: #5b51c6;
  color: white;
  font-weight: 500;
}

.headerSearchBar {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -20px;
  width: 100%;
  max-width: 1024px;
}
.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.handleSearchText {
  color: lightgray;
}
